body {
  padding: 2em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
}

#log {
  flex: 0 0 50vw;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  letter-spacing: 1px;
  font-family: monospace;
}

#log::before {
  content: "Output:";
  display: block;
}

main {
  flex: 1 1 auto;
}

.output {
  letter-spacing: 1px;
  font-family: monospace;
}